.flow_rl_space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flow_rl_2_5 {
  display: flex;
  gap: var(--v_2_5);
}

.flow_tb_2_5 {
  display: flex;
  flex-direction: column;
  gap: var(--v_2_5);
}

.padding_3_4 {
  padding: var(--v_3) var(--v_4);
} 